body {
    text-align: center;
    background: url("../img/space.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    color:rgb(255, 0, 0);
  }
p {
    color: white;
}
.tip {
    text-align: left;
}
.welcome {
    margin-left: -123px;
}
div a{
    text-decoration: none;
    margin-left: 10px;
}
div {
    font-size: 20px;
    margin-top: 29px;
    margin-left: -102px;
}
.nav img {
    width: 180px;
    height: 180px;
    margin-right: 50px;
    cursor: pointer;
}
.nav {
    width: 1000px;
    margin: 0px auto;
}
.mars {
    margin-top: 300px;
}
.earth {
    margin-bottom: 300px;
}
.moon {
    margin-bottom: 250px;
}
.uranus {
    margin-bottom: 50px;
}
