body {
    text-align: center;
    background: url("../img/enter.gif");
    background-repeat: no-repeat;
    background-size: cover;
}
div {
    margin-top: 10px;
    font-size: 25px;
}
div a {
    text-decoration: none;
    margin-left: 5px;
    margin-right: 5px;
}
h1 {
    color:rgb(255, 0, 0);
